{% extends 'base.html' %}

{% block title %}Assignment Test{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Assignment Test</h4>
                </div>
                <div class="card-body">
                    <form id="testForm" method="post" action="{{ url_for('assignments.assign_people') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <div class="form-group mb-3">
                            <label for="userSelect">Select User:</label>
                            <select class="form-control" id="userSelect" name="user_id">
                                <option value="">Select a user...</option>
                                {% for user in users %}
                                <option value="{{ user.id }}">{{ user.full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group mb-3">
                            <h5>Select People:</h5>
                            {% for person in unassigned_people %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="person_ids" value="{{ person.id }}" id="person{{ person.id }}">
                                <label class="form-check-label" for="person{{ person.id }}">
                                    {{ person.first_name }} {{ person.last_name }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Assign People</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        console.log('Test page loaded!');
        
        $('#testForm').on('submit', function() {
            var userId = $('#userSelect').val();
            var selectedPeople = $('input[name="person_ids"]:checked').length;
            
            if (!userId) {
                alert('Please select a user');
                return false;
            }
            
            if (selectedPeople === 0) {
                alert('Please select at least one person');
                return false;
            }
            
            return true;
        });
    });
</script>
{% endblock %}
